<div class="commands">
  <button style="float: right;
  margin-top: 20px;
  margin-right: 20px;"  [routerLink]="['/home']"  >Home</button>
  <h1 [routerLink]="['/home']" >Todo App AI</h1>
  <p>
    An AI voice assisted Todo App help user to create reminders , todos , notes and much more by just few voice commands.
    This app is integrated with Alan AI , which is a powerfull voice assistant wich which user can do many things.
    It is easy to use " just click on Alan Button and give commands according to your usecase and Alan will response to it ".
  </p>
  <div class="cmd">
    <h3>Login - Register commands : </h3>
    <ul>
      <li>Login me / Login me into account or app</li>
      <li>Register me / Register me into account</li>
      <li>Logout me / Out from app</li>
      <li>Alan AI will ask for "username" and "password". It will tell if there are any errors or redirect you to home page.</li>
    </ul>
  </div>

  <div class="cmd">
    <h3>Task related commands : </h3>
    <ul>
      <li>Add task / add todo</li>
      <li>Delete task / Remove task from app</li>
      <li>Read or Show tasks</li>
      <li>Update task number 1(any number from task list*) </li>
      <li>Done or Completed task number 1(any number from task list*) : it will categorize your task as completed or done</li>
    </ul>
  </div>

  <div class="cmd">
    <h3>Extra Help commands</h3>
    <ul>
      <li>Help me / About app</li>
      <li>Home : to go back to home page</li>
      <li>There some small talks user can do</li>
    </ul>
  </div>

</div>
